/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './m3-theme';

@include mat.core();

$theme: m3-theme.$light-theme;
$dark-theme: m3-theme.$dark-theme;

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100%;

  @include mat.all-component-themes($theme);
  // Add backwards compatibility styles for color variants
  @include mat.color-variants-backwards-compatibility($theme);

  // An example styling a particular Material Component
  // mat-sidenav {
  //   @include mat.all-component-colors($dark-theme);
  // }

  // This keys off of the OS system preference
  @media (prefers-color-scheme: dark) {
    @include mat.all-component-colors($dark-theme);

    @include mat.color-variants-backwards-compatibility($dark-theme);
  }
}

html {
  height: 100%;
}
