{
  "singleQuote": true,
  "trailingComma": "all",
  "proseWrap": "always",
  "overrides": [
    {
      "files": [
        "**/*.json",
        "**/*.*rc"
      ],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}